{% extends 'base.html' %}

{% block content %}

   
<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Air BNB Data</strong>
      </a>
    </div>
  </div>
</header>
<main>
    
    <div class="album py-5 bg-light">
        <div class="container">
            
            <h1 class="h1">Base de données du Royaume-Uni :</h1><br><br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.google.com/maps/vt/data=WzlYQC4I1lZIlS--t9HgEQk7Uu4SgMpxwqAahjGHQ29zmu5mCZ4a2ezwWd7mYsRxGp2h-EP3aFfaVbiNPDQzQxjBQTVeWyTlJP22qezYHYTBngD_1KhzQFhXeIMc8IY02AJaGINdZFcx24M27H36GKHLafEYZw1kjo2sBB7YXMHPqtUvzXofd9pfsAVKED4i9qUpVFiZABfImPoRiLD-lVMkFzBQ75K-MJ8aL_76tQkkuoHnTzg">
            <div class="card-body">
              <p class="card-text">Récupérer ici toutes les informations de Bristol, Royaume-Unis.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="detail/" class="btn btn-outline-secondary">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.google.com/maps/vt/data=vCWaxGWCYgGCvIm5KCZAIhAjFjVORhfmOjnY-9GBto2dNnVSOlrO2FV0bCequf2vlLChi0idy5ZGo7Oa6Wt2EnoJxPgtSB5xkMTXzwudqoXReO7rUfpNUSi9z5fzBuQ-rnOtR8FlngC1il_ZzozikHD3iciAr8D40XBCOXBCwzFtETfwnoWUfs-xqzU7T-vGdXHZGwKd2aBNRYD6mBUK0BWRCesgQpOUdhD9JYoKqcuqMijsH0I">
            <div class="card-body">
              <p class="card-text">Récupérer ici toutes les informations de Édimbourg, Royaume-Unis.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="detail/" class="btn btn-outline-secondary">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.google.com/maps/vt/data=c_x1azwPOPx_Utg-Dv_RWRivjzJHBtPKx7fwJ6KQ4CyjAjWZk1L0wpZ_h36XbRvCCSqhzSsPGrNMoElFzo9vs_N3csIzhFZxub1FpPv7P1IPQM_mhVaFtfv_I1Z2_qlflrJHwA41gpEg26nHnabbHsSCtiCcDbKG4pduEvfUGC9ak1gpoX-qzWXTWeenkKZtNpmre9qeFybJLVs-KDDD_VcMsq-CucEPV8EnAlC3qL5ZuE-zaFk">
            <div class="card-body">
              <p class="card-text">Récupérer ici toutes les informations de Manchester, Royaume-Unis.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="detail/" class="btn btn-outline-secondary">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.google.com/maps/vt/data=wKucgXJQb4z_1ZZCcAcHXp1VAwXNbC2jyV-v3vtnKMGGQ4UwpDIAgfN178VD18JbzqHobdzRWPFkSwn9WMVickRpf9n5oHW16zzg_M9t3HcW7VwvvJGMq_W7i8-FsOiFIPvIzCU130I0nSnF9EHRpJxgeEuVu7buix8UYlj_DlFz-KiDyO05jPLUfwW_zbCD_5LW6HiPjMax73ufFBu0iSAxH8Ue2uj9IgiJQHY3fdph9Tb1nSE">

            <div class="card-body">
              <p class="card-text">Récupérer ici toutes les informations de Londres, Royaume-Unis.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="detail/" class="btn btn-outline-secondary">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1">&copy; 2022 Anas et Benji</p>
  </div>
</footer>



{% endblock content %}