{% extends 'base.html' %}



{% block content %}
<div class="container-fluid">

    <div class="container">
    <h1 class="h1">Question 1 :</h1><br>
    {{df_london|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 2 :</h1><br>
    {{df_london_1|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 3 :</h1><br>
    {{df_london_2|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 4 :</h1><br>
    {{df_london_3|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 5 :</h1><br>
    {{df_london_4|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 6 :</h1><br>
    {{df_london_5|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 7 :</h1><br>
    {{df_london_6|safe}}<br><br></div>

    <div class="container">
    <h1 class="h1">Question 8 :</h1><br>
    {{df_london_7|safe}}<br><br></div>

</div>

{% endblock content %}





